*{box-sizing:border-box;padding:5px;margin:30px;}
h1{color:black;font-weight:bold;text-align:center;margin-bottom:35px;font-size:35px;}
.row{margin:10px;padding:5px;}
.section{background-color:lightblue;padding:5px;border:solid black 1px;margin:10px;}
.content{color:black;font-style:italic;font-size:20px;}
.title{font-size:25px;border:solid black 1px;position:absolute right;}
.col-lg-4{position:relative;}
.col-md-6{position:relative;}
.col-md-12{position:relative;}
.col-sm-12{position:relative;}
#chicken{background-color:red;}
#beef{background-color:yellow;}
#sushi{background-color:green;}
/*large devices*/
@media(min-width:992px)
{
 .col-lg-4{width:33.33%;clear:left;}
}
/*medium devices*/
@media(min-width:768px)and(max-width:991px)
{
 .col-md-6{width:50%;clear:left;}
 .col-md-12{clear:both}
}
/*small devices*/
@media(max-width:767px)
{
 .col-sm-12{clear:both}
}
