h1{
  font-family:sans-serif;
  font-size: 16px;
  text-align:center;
  text-weight:bolder;
  margin-top:30px;
  background-color:#eee;
}
.navbar-brand{
  background-color:#fff;
  text-weight:bolder;
  font-family:sans-serif;
  
}
