*{box-sizing:border-box;}
body{
  background-color:white;
 
}
nav.navbar.navbar-default{
  background-color:gray; 
  color:black;
  height:100px;
  border:2px solid black;
}
a.navbar-brand{
  font-size:1.3em;
  color:black;
}
main{
  margin:30px;
  padding:20px;
}
.btn-group{
  float:right;
  position:relative;
}
.row{
  margin:30px 30px 30px 30px;
  padding:20px;
  
}
footer,section.row{
  margin:30px 30px 30px 30px;
  padding:20px;
}
section{
  height:1000px;
  background-color:gray;
  border: 2px solid black;
  margin:30px;
  padding:20px;
}
  
h2{
  text-align:center;
  font-weight:bold;
  color:black;
}
 p{
   padding:20px;
   font-size:1.01em;
  }
