*{box-sizing:border-box;}
body{
background-color:white;
}
header{
background-color:gray; 
color:black;
height:50px;
}
button{
  float:right;
}
footer.row{
  margin:30px 30px 30px 30px;
  padding:20px;
  background-color:gray;
  font-size:1.1em;
  height:1000px;
}
h2{
  text-align:center;
  font-weight:bold;
  color:black;
}
